# Ignore everything else
*

# Don't ignore these

!/Design/*
!/ProjectWrapper/
!/ProjectWrapper/Project/

# IPS Source
!/Engine/
!/Engine/Source/
!/Engine/Source/math/
!/Engine/Source/math/muParser/
!/Engine/Source/math/muParser/*
!/Engine/Source/core/util/xml/*
!/Engine/Source/scene/
!/Engine/Source/scene/sceneContainer.cpp
!/Engine/Source/scene/sceneContainer.h
!/Engine/Source/T3D/
!/Engine/Source/T3D/player.cpp
!/Engine/Source/T3D/player.h
!/Engine/Source/T3D/camera.cpp
!/Engine/Source/T3D/camera.h
!/Engine/Source/T3D/decal/
!/Engine/Source/T3D/decal/decalDataFile.cpp
!/Engine/Source/T3D/decal/decalManager.cpp
!/Engine/Source/T3D/decal/decalManager.h
!/Engine/Source/T3D/fx/
!/Engine/Source/T3D/fx/ImprovedParticle
!/Engine/Source/T3D/fx/ImprovedParticle/*
!/Engine/Source/T3D/fx/ImprovedParticle/ParticleBehaviours/*
!/Engine/Source/T3D/fx/ImprovedParticle/ParticleManagers/*
!/Engine/Source/T3D/fx/ImprovedParticle/Emitters/*
!/Engine/Source/T3D/fx/ImprovedParticle/MeshEmitters/*
!/Engine/Source/T3D/fx/particle.cpp
!/Engine/Source/T3D/fx/particle.h
!/Engine/Source/T3D/fx/particleEmitter.cpp
!/Engine/Source/T3D/fx/particleEmitter.h
!/Engine/Source/T3D/fx/particleEmitterNode.cpp
!/Engine/Source/T3D/fx/particleEmitterNode.h
!/Engine/Source/T3D/SpellSystem/*
