# Ignore everything else
*
!.gitignore
!/Design/*
# Don't ignore these
!/Engine/Source/math/muParser/*
!/Engine/Source/core/util/xml/*
!/Engine/Source/T3D/fx/particle.cpp
!/Engine/Source/T3D/fx/particle.h
!/Engine/Source/T3D/fx/particleEmitter.cpp
!/Engine/Source/T3D/fx/particleEmitter.h
!/Engine/Source/T3D/fx/particleEmitterNode.cpp
!/Engine/Source/T3D/fx/particleEmitterNode.h
!/Engine/Source/T3D/SpellSystem/*